@using Microsoft.AspNetCore.Components.Web
@using DineOn.Models
@using DineOn.Services
@inject MenuItemService menuService


    <div class="card-columns">
        @foreach (var asset in menuService.GetMenuItems())
        {
            <div class="card">
                <a @onclick="e => SelectProduct(asset.MenuItemId)" data-toggle="modal" data-target="#productModal" class="stretched-link"></a>
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h6><strong>@asset.Name</strong></h6>
                            <div class="text-truncate text-muted">
                                <small>@asset.Description</small>
                            </div>
                            <p>$@asset.Price</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="@asset.ImageUrl" class="card-img" alt="...">
                    </div>
                </div>
            </div>
        }

    </div>



@code {
    MenuItem selectedProduct;
    int selectedProductId;

    void SelectProduct(int productId)
    {
        selectedProductId = productId;
        selectedProduct = menuService.GetMenuItems().First(x => x.MenuItemId == productId);
        GetCurrentRating();
    }

    int currentRating = 0;
    int voteCount = 0;
    string voteLabel;

    void GetCurrentRating()
    {

        if (selectedProduct.Ratings == null)
        {
            currentRating = 0;
            voteCount = 0;
        }
        else
        {
            voteCount = selectedProduct.Ratings.Count();
            voteLabel = voteCount > 1 ? "Votes" : "Vote";
            currentRating = selectedProduct.Ratings.Sum() / voteCount;
        }

        System.Console.WriteLine($"Current rating for {selectedProduct.MenuItemId}: {currentRating}");
    }

    void SubmitRating(int rating)
    {
        System.Console.WriteLine($"Rating reveived for {selectedProduct.MenuItemId}:{rating}");
        menuService.AddRating(selectedProduct.MenuItemId, rating);
        SelectProduct(selectedProduct.MenuItemId);
        //GetCurrentRating();
    }

}


<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            @if (selectedProduct != null)
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@selectedProduct.Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-img" style="background-image: url('@selectedProduct.ImageUrl');">
                        </div>
                        <div class="card-body">
                            <h5>Description</h5>
                            <p class="card-text">@selectedProduct.Description</p>
                            <div class="row">
                                <div class="col-5 h5">Price: @selectedProduct.Price</div>
                                <div class="col-7 h5"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    @if (voteCount == 0)
                    {
                        <span>Leave a rating!</span>
                    }
                    else
                    {
                        <span>@voteCount @voteLabel</span>
                    }
                    @for (int i = 1; i < 6; i++)
                    {
                        var currentStar = i;
                        if (i <= currentRating)
                        {
                            <span class="fa fa-star" style="color:gold" @onclick="(e => SubmitRating(currentStar))"></span>
                        }
                        else
                        {
                            <span class="fa fa-star" @onclick="(e => SubmitRating(currentStar))"></span>
                        }
                    }
                </div>
            }
        </div>
    </div>
</div>





