@using Microsoft.AspNetCore.Components.Web
@using DineOn.Data.Models
@using DineOn.Service.Interfaces
@inject NavigationManager NavigationManager
@inject IMenuItem menuService
@inject IOrderCart cartService


<div class="row mb-3">
    <div class="col-md-9 clearfix">
        <p class="display-3">Menu</p>
    </div>
    <div class="col-md-3 pt-md-5">
        <a class="h4" @onclick="NavigateToCheckout" role="button">Total Items in Cart <span class="badge badge-warning">@cartService.GetCartCount()</span></a>
    </div>
</div>

<div class="row mb-3">
    <div class="clearfix">
        <h2 class="text-muted">&nbsp;&nbsp;Starters</h2>
    </div>
</div>


<div class="card-columns">


    @if (menuService.GetStarters() != null && menuService.GetStarters().Any())

    {


        @foreach (var asset in menuService.GetStarters())
        {
            <div class="card">
                <a href="#code" @onclick="e => SelectMenuItem(asset.MenuItemId)" data-toggle="modal" data-target="#menuItemModal" class="stretched-link"></a>
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h6><strong>@asset.Name</strong></h6>
                            <div class="text-truncate text-muted">
                                <small>@asset.Description</small>
                            </div>
                            <p>$@asset.Price</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="@asset.ImageUrl" class="card-img" alt="...">
                    </div>
                </div>
            </div>
        }
    }
    else
    {


        <div class="row mb-3">
            <div class="clearfix">
                <h2 class="text-muted">&nbsp;&nbsp;Sorry there are no starters in our menu at the moment</h2>
            </div>
        </div>
    }

</div>


@code {

    MenuItem selectedMenuItem;
    private int selectedMenuItemId { get; set; }
    private int quantity { get; set; }
    private double total { get; set; }

    private void SelectMenuItem(int itemId)
    {
        quantity = 1;
        selectedMenuItemId = itemId;
        selectedMenuItem = menuService.GetMenuItem(itemId);
        GetCurrentRating();
        total = Math.Round(quantity * selectedMenuItem.Price, 2);
    }

    int currentRating = 0;
    int voteCount = 0;
    string voteLabel;

    private void GetCurrentRating()
    {

        voteCount = menuService.GetNumberOfRatings(selectedMenuItemId);
        voteLabel = voteCount > 1 ? "Votes" : "Vote";
        currentRating = menuService.GetAverageRating(selectedMenuItemId);

    }

    private void SubmitRating(int rating)
    {
        menuService.AddRating(selectedMenuItemId, rating);
        SelectMenuItem(selectedMenuItemId);
    }


    private void AddToCart(MenuItem SelectedItem, int quantity)
    {
        cartService.AddToCart(SelectedItem, quantity);
        cartService.GetCartCount();
    }

    private void increaseQuantity(MouseEventArgs e)
    {
        quantity++;
        total = Math.Round(quantity * selectedMenuItem.Price, 2);
    }

    private void decreaseQuantity(MouseEventArgs e)
    {
        if (quantity == 1)
        {
            quantity = quantity;
        }
        else
        {
            quantity--;
            total = Math.Round(quantity * selectedMenuItem.Price, 2);
        }
    }

    private void NavigateToCheckout()
    {
        NavigationManager.NavigateTo("Checkout", true);
    }
}


<div class="modal fade" id="menuItemModal" tabindex="-1" role="dialog" aria-labelledby="menuItemTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            @if (selectedMenuItem != null)
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="MenuItemTitle"><strong>@selectedMenuItem.Name - $@total</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-img" style="background-image: url('@selectedMenuItem.ImageUrl');">
                        </div>
                        <div class="card-body">
                            <h6>Description</h6>
                            <p class="card-text text-muted">@selectedMenuItem.Description</p>
                            <div class="row">
                                <div class="col-md-3 mt-2"><p class="h5">$@selectedMenuItem.Price</p></div>
                                <div class="col-md-4">
                                    <form action="">
                                        <div class="input-group ">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-dark" type="button" @onclick="(e => decreaseQuantity(e))">-</button>
                                            </div>
                                            <input type="number" class="form-control" @bind="quantity" @bind:event="oninput" id="quantity" disabled>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-dark" type="button" @onclick="(e => increaseQuantity(e))">+</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-5"><button class="btn btn-outline-dark" data-dismiss="modal" @onclick="(e => AddToCart(selectedMenuItem,quantity))">Add to Cart&nbsp;&nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"></i></button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (voteCount == 0)
                    {
                        <span>Enjoyed this meal before? Leave a rating!</span>
                    }
                    else
                    {
                        <span>Leave a rating! @voteCount @voteLabel</span>
                    }
                    @for (int i = 1; i < 6; i++)
                    {
                        var currentStar = i;
                        if (i <= currentRating)
                        {
                            <span class="fa fa-star" style="color:gold" @onclick="(e => SubmitRating(currentStar))"></span>
                        }
                        else
                        {
                            <span class="fa fa-star" @onclick="(e => SubmitRating(currentStar))"></span>
                        }
                    }
                </div>
            }
        </div>
    </div>
</div>








